
<!DOCTYPE html>
<html ng-app="widgetsApp">
<head>
  <title>restaurant thing</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>

  <div ng-controller="RestaurantCtrl">
  
  <form name="newRestaurant">
    <input type="text" label="Name" ng-model="formData.name"></input>
    <input type="text" label="Type of Food" ng-model="formData.type"></input>
    <input type="submit" value="Create Restaurant" ng-click="processForm()"></input>
  </form>

  <table>
    <thead>
        <td>Name</td>
        <td>Type of Food</td>
    </thead>
    <tbody>
      <tr ng-repeat="r in restaurants">
        <td>{{ r.name }}</td>
        <td>{{ r.foodType }}</td>
      </tr>
    </tbody>
  </table>



  </div>

</body>
</html>